@media screen and (max-width: 768px) {
    .ascii {
        font-size: 1.8px;
    }
    nav a {
         color: #ff5733;
        text-decoration: none;
        margin-right: 10px;
        }
        .navegacao{
            font-size: 18px;
        }
        .navegacaochaves{
            font-size: 23px;
        }
}